@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  /* Gradient background */
  background: linear-gradient(135deg, #ffffff, #919191, #d48686 );
  color: #fff;
}

/* Navbar styling */
header {
  position: sticky;
  top: 1rem;
  background: rgba(255, 255, 255, 0.9); /* 90% opacity white */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(50, 49, 49, 0.25);
  backdrop-filter: blur(10px);
  margin: 0 2rem;
  z-index: 999;
}

/* Logo font: Exile */
.logo {
  font-family: 'Exile', cursive;
  font-size: 1.8rem;
  font-weight: 700;
  color: #111;
}

.logo span {
  color: #e50914;
}

.logo small {
  font-size: 0.75rem;
  display: block;
  color: #444;
}

/* Search box */
.search-box {
  display: flex;
  gap: 0.5rem;
}

.search-box input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 250px;
  font-size: 1rem;
}

.search-box button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #b0070f;
}

/* Movie container with some padding */
#movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem 3rem;
}

/* Movie cards with shadow */
.movie-card {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    0 4px 8px rgba(142, 142, 142, 0.6),
    0 0 15px rgba(201, 200, 200, 0.5);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-10px);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-title {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-weight: bold;
  color: #000000;
}

.movie-year,
.movie-plot {
  font-size: 0.9rem;
  color: #434242;
  margin-top: 0.25rem;
}

.logo{
  border-radius: 20px;
}